$gray: #f8faff;
$black: #000;
$text-black: #212529;
$white: #fff;
$red: #d13d3d;
$maroon: #B00020;
$border1: #865bf3;
$purpleBorder: #865bf3;
$purple: #865bf3;
$gray-lite: #ecedf0;
$gray-medium: #c9c9c9;
$cyan: #00ffff;
$lightGreen : #90ee90;
$lightPink : #ffb6c1;
$yellow : #ffff00;
$orange : #ffa500;

$dark-15: rgba(0, 0, 0, 0.15);
