.login-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border-radius: 0.625rem;
    box-shadow: 0 0.1875rem 0.1875rem -0.125rem rgba(0, 0, 0, 0.004),
       0 0.0625rem 0.5rem rgba(0, 0, 0, 0.12);
 
       .togglePassword{
          position: absolute;
          font-weight: bold;
          font-size: 22px;
          top: 3.5rem;
          cursor: pointer;
          right: 0.8rem;
          color:dimgray;
          .filleye{
             display: none;
          }
          .filleyeInvisible{
             display: block;
          }
          &.active{
             .filleye{
                display: block;
             }
             .filleyeInvisible{
                display: none;
             }
          }
       }
 }
 
 #okta-sign-in.auth-container.main-container {
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
    margin: 0 0 1.5rem !important;
    padding: 0  1.5rem 1.5rem 1.5rem !important;
    background: #fff !important;
    border-radius: 0.625rem !important;
    box-shadow: 0 0.1875rem 0.1875rem -0.125rem rgba(0, 0, 0, 0.004),
       0 0.0625rem 0.5rem rgba(0, 0, 0, 0.12);
 }
 
 #okta-sign-in .auth-header{
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
 }
 
 #okta-sign-in .auth-beacon{
    display: none !important;
 }
 
 #okta-sign-in .auth-content{
    padding: 0 !important;
 }
 
 .okta-form-label label {
    display: block !important;  
    font-size: 1rem !important;   
    text-transform: uppercase !important;
    text-align: left !important;
    font-family: font-semibold !important;  
 }
 
 #okta-sign-in .siw-main-view .custom-checkbox{
    color: #1d1d21 !important;
 }
 #okta-sign-in .o-form .input-fix, #okta-sign-in .o-form .textarea-fix {
    border: none !important;
 }
 
 .auth-footer a {
     font-size: 16px !important;
     font-family: font-semibold !important;  
     color: #1d1d21 !important;
 }
 
 #okta-sign-in.auth-container .okta-form-input-field input {
    width: 100% !important;
    font-size: 1rem !important;
    //color: var(--gray-700);
    padding: 0.875rem 0.5rem !important;
    //background: var(--light-gray);
    border: 0.0625rem solid #e0e0e0 !important;
    border-radius: 0.25rem !important; 
    height: auto !important;
 }
 
 #okta-sign-in.auth-container .button-primary{
    font-size: 1rem !important;
    color: #fff !important;
    text-align: center !important;
    padding: 0.875rem 1.5rem !important;
    background: #000 !important;
    border: none !important;
    border-radius: 1.5rem !important;
    position: relative !important;
    line-height: 0 !important;
 }
 
 .okta-form-title {
    font-size: 1.5rem !important;
    font-family: font-semibold !important;
    line-height: 1.2 !important;
    margin: 0rem 0 1rem 0 !important;
    text-align: center !important;
    color: #1d1d21 !important;
 }
 
 
 .login-wrapper {
    width: 35rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
 
    .bx-loader-circle, .bx-loader-alt{
       position: absolute;
       right: 1rem;
       animation: spin 2s linear infinite;
       font-size: 1.7rem;
    }
    @keyframes spin {
       0% { transform: rotate(0deg); }
       100% { transform: rotate(360deg); }
     }
 }
 
 .login-wrapper h1 {
    font-size: 2rem;
    font-family: font-semibold;
    line-height: 1.2;
    margin: 0rem 0 1rem 0;
    text-align: center;
 }
 
 .login-wrapper .input-wrapper label, .login-wrapper .select-wrapper label {
    display: block;  
    font-size: 1rem;   
    text-transform: uppercase;
    text-align: left; 
    font-family: font-semibold;
 }
 .login-wrapper .input-wrapper-password{
    position: relative;
 }
 .login-wrapper .input-wrapper-password label{
    display: block;  
    font-size: 1rem;   
    text-transform: uppercase;
    text-align: left; 
    margin-top: 1rem;
    font-family: font-semibold;
 }
 
 .login-wrapper .input-wrapper label span {
    text-transform: capitalize;
    float: right;
    cursor: pointer;
    text-decoration: underline;
    margin: 0 0 10px 0;
 }
 
 .login-wrapper .input-wrapper input[type='text'] {
    width: 100%;
    font-size: 1rem;
    //color: var(--gray-700);
    padding: 0.875rem 0.5rem;
    //background: var(--light-gray);
    border: 0.0625rem solid #e0e0e0;
    border-radius: 0.25rem;  
 }
 
 .login-wrapper .input-wrapper-password {
    input[type='password'] {
       width: 100%;   
       font-size: 0.875rem;
       color: var(--gray-700);
       padding: 0.875rem 0.5rem;
       background: var(--light-gray);
       border: 0.0625rem solid #e0e0e0;
       border-radius: 0.25rem;
       transition: all 0.3s ease; 
       margin-bottom: 0.75rem; 
    }
    input[type='text'] {
       width: 100%;
       font-size: 0.875rem;
       //color: var(--gray-700);
       padding: 0.875rem 0.5rem;
       //background: var(--light-gray);
       border: 0.0625rem solid #e0e0e0;
       border-radius: 0.25rem; 
       margin-bottom: 0.75rem;  
    }
 }
 
 button.btn-primary {  
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding: 0.875rem 1.5rem;
    background: #000;
    border: none;
    border-radius: 1.5rem;
    position: relative;
 }
 
 button.full-width-btn {
    width: 100%;
 }
 
 .user-name {
    font-size: unset;
    margin-bottom: 0.5rem;
 }
 
 .btn-primary.disabled, .btn-primary:disabled
 {
   background-color: #9e9e9e;
 }
 
 .link-underline {  
    font-weight: 600;
    font-size: .875rem;
    text-decoration: underline;
    margin: .625rem 0 1.25rem;
    cursor: pointer;
 }
 
 /* added later */
  
  .invalid input {
    border: 1px solid #b40e0e !important;
    //background-color: #fddddd;
  }
  
  .invalid input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
  }
  
  .error-text {
    color: #b00020;
    font-size: .875rem !important;
    margin: .25rem 0 0;
  }
  